h1 {
  
}  

body {
  background-color: rgb(72,61,139);
  margin-left: 600px;
  margin-right: 600px;
}

#text1{
  font-size: 20px;
  text-align: left;
}
td{
  padding-left: 35px;
  padding-right: 35px;
}


    
  
