h1 {
  
}  

body {
  background-image: url("myBackground.jpg");
  background-image: cover;
  margin-left: 600px;
  margin-right: 600px;
}

#text1{
  font-size: 20px;
  text-align: left;
  background-color: rgb(255,255,255);
  background-size: 300px 100px;
  margin-left: 300px;
  margin-right: 300px;
}
td{
  padding-left: 35px;
  padding-right: 35px;
}


    
  
