h1 {
  padding-left: 20px;
  font-family: Bradley Hand, cursive;
}  

#body1 {
  background-color: rgb(9, 78, 99);
  
  margin-left: 300px;
  margin-right: 300px;
}
#body2{
  margin-left: 300px;
  margin-right: 300px;
  background-image: url("myBackground.jpg");
  background-image: cover;
}

#text1{
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  font-family: Bradley Hand, cursive;
  
}
#text2{
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  font-family: Bradley Hand, cursive;
}
#table1{
    padding: 0;
}
td{
  padding-left: 10px;
  padding-right: 10px;
}
div{
  background-color: rgb(255,255,255);
  padding-bottom: 50px;
}


    
  
